.left-panel .left-panel-container-text {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #6b6f81; }

.left-panel {
  flex: 5 0 10rem; }
  .left-panel .left-panel-block {
    padding: 50px 60px 20px 70px;
    height: 100%;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .left-panel .left-panel-block .left-panel-container-header-content {
      padding-top: 15px; }
    .left-panel .left-panel-block .panel-bl-content {
      display: inline-block;
      margin: 10px 0 30px 0;
      color: #666ee8;
      font-size: 14px; }
    .left-panel .left-panel-block .left-panel-container-body {
      display: flex;
      justify-content: start;
      padding-bottom: 50px; }
      .left-panel .left-panel-block .left-panel-container-body .left-panel-container-body-content {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 10px; }
        .left-panel .left-panel-block .left-panel-container-body .left-panel-container-body-content div {
          display: flex;
          flex-direction: column; }
        .left-panel .left-panel-block .left-panel-container-body .left-panel-container-body-content .left-panel-container-body-content-title {
          font-size: 21px;
          color: #464855;
          padding-top: 0px; }
        .left-panel .left-panel-block .left-panel-container-body .left-panel-container-body-content .left-panel-container-body-content-footer {
          padding-top: 30px; }
          .left-panel .left-panel-block .left-panel-container-body .left-panel-container-body-content .left-panel-container-body-content-footer u {
            cursor: pointer;
            color: #ff6b36; }
        .left-panel .left-panel-block .left-panel-container-body .left-panel-container-body-content span {
          color: #6b6f81;
          font-size: 14px;
          padding-top: 10px; }
    .left-panel .left-panel-block .container-accounting-program {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px; }
      .left-panel .left-panel-block .container-accounting-program .accounting-program {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 235px;
        height: 115px;
        border: solid 2px rgba(228, 229, 236, 0.5); }
        .left-panel .left-panel-block .container-accounting-program .accounting-program img {
          height: 40px;
          max-width: 180px; }
        .left-panel .left-panel-block .container-accounting-program .accounting-program span {
          text-align: center;
          font-size: 11px; }
      .left-panel .left-panel-block .container-accounting-program .active {
        border: solid 2px #666ee8; }
  .left-panel .greeting {
    align-items: center; }
  .left-panel .left-panel-payment-info {
    border-top: 1px solid #e4e5ec;
    padding: 20px 0px 0px 70px !important; }
    .left-panel .left-panel-payment-info .left-panel-container-logo-container {
      display: flex;
      justify-content: space-between;
      width: 55%;
      padding-bottom: 30px; }
      .left-panel .left-panel-payment-info .left-panel-container-logo-container img {
        height: 50px; }
  .left-panel .left-panel-container-header {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: normal;
    color: #464855; }
  .left-panel .left-panel-container-content {
    margin-top: 10px;
    margin-bottom: 10px; }
  .left-panel .container-button {
    padding-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center; }
