/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;

}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 2px solid #666;
}

body {
  background: #fafafa;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  header {
    text-align: center;
    background: #646469;
    vertical-align: middle;
    height: 60px;
    margin-bottom: 20px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  aside {
    width: 25%;
    background: #646469;
  }
  main {
    width: 70%;
  }
}

.flow {
  margin: auto;
  width: 80%;
  max-width: 1125px;
  height: auto;
  .stepper {
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    background: transparent;
    font-size: 15px;
    .step {
      display: flex;
      justify-content: space-around;
      width: 207px;
      height: 50px;
      background: #fff;
      border: solid 0.5px rgba(102, 110, 232, 0.5);
      border-right: none;
      position: relative;
      align-items: center;
      &:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 100000;
      }
      &:after {
        top: 0;
        border-color: transparent transparent transparent #ffffff;
        border-width: 25px;
      }
      &:before {
        top: -1px;
        border-color: transparent transparent transparent rgba(102, 110, 232, 0.5);
        border-width: 26px;
      }
      .status-field {
        width: 50%;
      }
      .name {
        width: 50%;
      }
    }
    .status {
      display: flex;
      align-items: center;
      width: 24px;
      height: 24px;
      margin: auto;
      border-radius: 100%;
      border: solid 0.5px rgba(102, 110, 232, 0.5);
      .checkmark {
        display: inline-block;
        margin: auto;
        &:after {
          content: '';
          display: block;
          width: 4px;
          height: 10px;
          border: solid #28d094;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
      .inProgress {
        width: 12px;
        height: 12px;
        border-radius: 120px;
        background-color: #666ee8;
        margin: auto;
      }
    }

    p {
      color: #2d2d50;
      text-align: center;
    }
  }

  .main-part {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    .main-block {
      width: 75%;
    }
    aside {
      float: right;
      width: 353px;
      height: 620px;
      background-color: #ffffff;
      box-shadow: 0 10px 14px 0 rgba(69, 73, 91, 0.08);
      flex-direction: column;
      .ava {
        width: 118px;
        height: 118px;
        background: red;
        border-radius: 100%;
        margin: auto;
        margin-top: 54px;
      }
      h1 {
        width: 285px;
        height: 54px;
        font-family: Montserrat;
        font-size: 21px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #464855;
        margin: auto;
        margin-top: 12px;
      }
      p {
        width: 303px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #6b6f81;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 29px;
      }
      button {
        display: block;
        width: 225px;
        height: 58px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0);
        border: solid 1px #e4e5ec;
        margin: auto;
        color: #666ee8;
      }
      .information {
        position: relative;
        margin: auto;
        margin-top: 44px;
        width: 225px;
      }
      .info-block {
        display: flex;
        align-items: center;
        width: 120px;
        color: #666ee8;
        margin: auto;
        p {
          margin: 0;
        }
        .img {
          position: absolute;
          width: 15.6px;
          height: 15.6px;
          left: 37px;
          background: red;
          border-radius: 100%;
        }
      }
    }

  }
}



